html {
  background-color: #a59082;
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
table,
th,
td {
  border: 1px solid #1c140e;
  height: 50px;
  text-align: center;
  box-shadow: 2px 2px 7px 1px #6f4e37;
}

caption {
  color: #385970;
  font-weight: bolder;
  font-size: xx-large;
  text-shadow: 1px 2px 2px #6f4e37;
}
th,
td {
  padding: 15px;
  text-shadow: 1px 2px 2px black;
}

tr:hover {
  background-color: rgb(134, 161, 163);
}

th {
  background-color: #533b29;
  color: #ede9e6;
  font-weight: bold;
}

td {
  color: white;
  font-size: 18px;
}

tfoot {
  background-color: #38271c;
}
p {
  color: rgb(142, 216, 221);
}

button {
  transition-duration: 0.1s;
  display: block;
  font-family: "Courier New", Courier, monospace;
  padding: 4px 14px;
  text-align: center;
  border-radius: 10%;
}
.btn-delete {
  background-color: #bf0000;
  font-size: 12px;
  color: rgb(142, 216, 221);
}
.btn-delete:hover {
  background-color: #ffdfdf;
  color: #bf0000;
  border-color: #bf0000;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-add {
  background-color: #38271c;
  color: #b7a79b;
  font-size: 20px;
}
.btn-add:hover {
  background-color: #b7a79b;
  border-color: #38271c;
  color: #38271c;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  color: #385970;
  padding: 8px 16px;
  margin: 8px 0;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 14px;
  text-shadow: 1px 1px 1px black;
  font-family: "Courier New", Courier, monospace;
}
